@charset "utf-8";
@import "~bulma/bulma";
.form-passcode{
  .submit-passcode{
    margin-top: calc(.75rem * 3);
    .button{
      min-width: 150px;
    }
  }
}
.input-passcodes{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px -.5rem;
  &__wrapper{
    padding: 0px .5rem;
    .control {
      width: 30px;
      .input{
        padding: 0;
        border: none;
        border-radius: 0px;
        border-bottom: 2px solid #0a0a0a;
        box-shadow: none;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.75rem;
        line-height: 1;
        height: 2.75rem;
      }
    }
  }
}